@model IEnumerable<BookKeeping45.QueryModel.LegoSet>
@{
    ViewBag.Title = "All items";
}


<div ng-app="app" ng-controller="bookkeepingController as vm">
    
</div>

<div class="container">
    <table id="sheetTable" class="table table-condensed">
        <tr><th>Day</th><th>Start</th><th>End</th><th>Off day</th><th>Half day</th><th>Billable</th><th>Overtime</th><th>Total overtime</th><th>Note</th><th>Left</th></tr>
        <tr ng-repeat="day in vm.days | emptyFilter" class="{{day.date | alternatingBackgroundPerWeekFilter}}">
            <td><span class="date" ng-class="{'bg-danger': day.isDirty}">{{day.date | toLocalDateStringFilter}}</span></td>
            <td><input style="width:60px" class="start" ng-model="day.start" ng-disabled="day.offday" ng-change="vm.startChanged(day)"></td>
            <td><input style="width:60px" class="end" ng-model="day.end" ng-disabled="day.offday" ng-change="vm.endChanged(day)"></td>
            <td><input type="checkbox" ng-model="day.offday" ng-change="vm.offdayChanged(day)"></td>
            <td><input type="checkbox" ng-model="day.halfday" ng-change="vm.halfdayChanged(day)"></td>
            <td><span>{{day.billableTime | inputFormatToHumanreadableFilter}}</span></td>
            <td><span>{{day.overtime | inputFormatToHumanreadableFilter}}</span></td>
            <td><span>{{day.totalOvertime | inputFormatToHumanreadableFilter}}</span></td>
            <td><input style="width:100px" class="start" ng-model="day.note" ng-change="vm.noteChanged(day)"></td>
            <td><span>{{day.timeLeft}}</span></td>
        </tr>
    </table>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>


